// font-size
@mixin fs-12 {
    font-size: 0.75rem;
}
@mixin fs-14 {
    font-size: 0.875rem;
}
@mixin fs-18 {
    font-size: 1.125rem;
}
@mixin fs-20 {
    font-size: 1.25rem;
}
@mixin fs-24 {
    font-size: 1.5rem;
}
@mixin fs-30 {
    font-size: 1.875rem;
}
@mixin fs-35 {
    font-size: 2.1875rem;
}
@mixin fs-40 {
    font-size: 2.5rem;
}
@mixin fs-50 {
    font-size: 3.125rem;
}
@mixin fs-60 {
    font-size: 3.75rem;
}
@mixin fs-70 {
    font-size: 4.375rem;
}
@mixin fs-80 {
    font-size: 5rem;
}
@mixin fs-90 {
    font-size: 5.625rem;
}
@mixin fs-100 {
    font-size: 6.25rem;
}

// font-weight
@mixin fw-thin {
    font-weight: 100;
}
@mixin fw-extralight {
    font-weight: 200;
}
@mixin fw-light {
    font-weight: 300;
}
@mixin fw-regular {
    font-weight: 400;
}
@mixin fw-medium {
    font-weight: 500;
}
@mixin fw-semibold {
    font-weight: 600;
}
@mixin fw-bold {
    font-weight: 700;
}
@mixin fw-extrabold {
    font-weight: 800;
}
@mixin fw-black {
    font-weight: 900;
}